.sidebar_name {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.sidebar_name_wrap {
	margin-bottom: 15px;
}

.add_lw_sidebars_form {
	margin-bottom: 40px;
}

.side_bar_editor_wrap {
	display: none;
}

.on .side_bar_editor_wrap {
	display:block;
}

.lw_class_on_off {
	cursor: pointer;	
}

.side_bar_editor_form  {
	margin-bottom: 40px;
}

.side_bar_editor_form .lw_sidebar_content {
	width: 50%;
	height: 500px;
	margin-bottom: 15px;
}

input[type="submit"] {
	cursor: pointer;
} 

.lw_sidebar_name {
	background-color: #ffffff;
	padding: 15px;
	font-size: 16px;
}

.lw_sidebar_name .the_name{
	display: inline-block;
	vertical-align: top;
	margin-right: 25px;
}

.lw_sidebar_name .click{
	font-size: 11px;
}

.shortcode_case {
	margin: 15px 0;
}

.shortcode_display {
	margin-right: 25px;
}

.sidebar_select_wrap label {
	display: inline-block;
	vertical-align: top;
	width: 175px;
}

.sidebar_select_wrap select {
	display: inline-block;
	vertical-align: top;
	width: 175px;
}

.sidebar_select_wrap {
	margin-bottom: 15px;
}

.admin_page_defaults_form h1 {
	margin-bottom: 35px;
}

.for_text_input input {
	display: block;
	width: 90%;
    margin-bottom: 25px;
}

.for_text_input textarea {
	height: 200px;
	display: block;
	width: 90%;
    margin-bottom: 25px;
}

#right_sidebar_wrap {
    margin-bottom: 25px;
}

.post_page_options_wrap .input_wrap {
    margin-bottom:15px;
}


.lw_post_type_new_slug_name_form {
	margin-bottom: 50px;
}

.all_pt {
	margin-bottom: 25px;
}

.post_type_data_wrap label {
	display: inline-block;
	vertical-align: top;
	width: 175px;
	
}

.not_ready {
	background-color: yellow;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	margin: 15px 0;
	
}

.ready {
	background-color: green;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	margin: 15px 0;
	color: #ffffff;
}

.lw_post_type_slug_name_form {
	margin-bottom: 200px;
}

.post_type_data {
	width: 70%;
	padding: 10px;
}

.post_type_data_wrap {
	margin-bottom: 15px;
}

.delete_post_type_wrap {
	display: inline-block;
	vertical-align: top;
	margin-left: 115px;
}

.add_sppo_field {
	padding: 10px 15px;
	background-color: green;
	color: #ffffff;
	cursor: pointer;
	margin-bottom: 25px;
	display: inline-block;
}

.meta_input_field {
	margin-right: 15px;
}


.custom_meta_input_wrap {
	background-color: #DDD9D9;
	margin-bottom: 15px;
	padding: 5px;
	position: relative;
	padding-right: 165px;
}

.cppo_checkbox {
	width: 20px;
	height: 20px;
	background-color: #eeeeee;
	border: 1px solid #000000;
	margin-right: 10px;
	cursor: pointer;
}

.true .cppo_checkbox {
	background-color: #037507;
}

.ib {
	display: inline-block;
	vertical-align: top;
}

.cppo_set_image {
	padding: 10px 15px;
	background-color: #eeeeee;
	cursor: pointer;
	margin-bottom: 15px;
}

.image_preview {
	max-height: 200px;
}

.all_cppo_fields label {
	display: inline-block;
	vertical-align: top;
	width: 90px;
}

.cppo_meta_input_wrap input[type="text"] {
    display: block;
    margin-bottom: 25px;
    width: 90%;

}

.cppo_meta_input_wrap textarea {
    display: block;
    height: 350px;
    width: 90%;
    margin-bottom: 25px;
}

.cppo_meta_input_wrap .cppo_wysiwyg {
    display: block;
    height: 350px;
    width: 90%;
    margin-bottom: 130px;
}

.cppo_meta_input_wrap label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.cppo_meta_input_wrap select {
    margin-bottom: 25px;
}

.drag_indicator {
    background-image: url("/wp-content/themes/lightweight/images/drag-drop.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 25px;
    top: 10px;
    width: 50px;
    z-index: 100;
}

.cppo_meta_input_wrap input[type="radio"] {
    width: 20px;
    display: inline-block;
    margin-bottom: 0px;
}

.delete_this {
	cursor: pointer;
	position: absolute;
	color: red;
	right: 150px;
	top: 20px;
	border: 1px solid red;
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 18px;
	
}




