
@media screen and (max-width: 900px) { /**********************************/

.menu_block {
	padding: 0px;
}

.menu_div {
	display: none;
}

#mobile_menu_switch {
	display: block;
	width: 30px;
	margin: 10px auto;
	cursor: pointer;
}

.menu_wrapper {
    display: block;
    overflow: hidden;
    -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s; 
    padding-top: 10px;
}

.menu_wrapper.on {
}

.menu_toggle_wrap {
	display: inline-block;
	width: 35px;
	height: 25px;
	position: relative;
	cursor: pointer;
}

.menu_toggle_bar {
	height: 5px;
	background-color: #000000;
	position: absolute;
	left: 0px;
	width: 100%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    transition: all .5s ease;
}

.top_bar {
	top: 0px;
}

.mid_bar {
	top: 10px;
}

.bottom_bar {
	bottom: 0px;
}

.menu_toggle_wrap:hover .top_bar {
	top: -2px;
    transition: all 0s ease;

}

.menu_toggle_wrap:hover .bottom_bar {
	bottom: -2px;
    transition: all 0s ease;
}

.on .menu_toggle_wrap:hover .top_bar {
    top: 10px;
}

.on .menu_toggle_wrap:hover .bottom_bar {
	bottom: 0px;
}

.on .menu_toggle_wrap .top_bar {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    top: 10px;
    transition: all .4s ease;

}

.on .menu_toggle_wrap .bottom_bar {
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    top: 10px;
    transition: all .4s ease;

}

.on .menu_toggle_wrap .mid_bar {
	display: none;
}

.menu_div ul li {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

.menu_div ul li a{
	display: block;
	width: 100%;
	text-align: center;
}

.menu_div {
	display: none;
	width: 100%;
}

.on .menu_div {
	display: block;
}

.menu_toggle_block {
	text-align: center;
}


} /**********************************/



