body.login {
    background-color: #ffffff;
}
 
.login #nav a, .login #backtoblog {
    background-color: #ffffff;
}
 
html {
    background-color: #ffffff;
}
 
 
.login h1 a {
    background-repeat: no-repeat !important;
    background-size: auto auto !important; 
    width: 350px !important;   
    height: 245px !important;
}
 
.login h1 {
	height: 245px !important;
}
 
#login {
    letter-spacing: 1.5px;
    font-size: 12px;
    width: 534px;
    background-color: #ffffff;
}
 
#loginform {
    width: 300px;
    margin: 0 auto;
}
 
#login #nav {
    width: 300px;
    margin: 15px auto;
}
 
.login #login_error {
    text-transform: uppercase;
    font-size: 12px;
}
 
.login #nav a, .login #backtoblog  {
    margin: 15px auto !important;
    width: 300px;
}
 
.login label {
    text-transform: uppercase;
    font-size: 12px;
}
 
#nav {
    font-size: 12px;
    text-transform: uppercase;
}
 
#backtoblog {
    font-size: 12px;
    text-transform: uppercase;
}
 
#loginform, #lostpasswordform {
    border: 3px solid #EE2F33;
    background-color: #000000;
    border-radius: 6px;
}
 
 
#nav a:hover {
    color: #F9AA73 !important;
}
 
#backtoblog a:hover {
    color: #F9AA73 !important;
}
 
input[type="text"], input[type="password"], textarea, select {
    outline: none;
    background-color: #fcd4b8;
}
 
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 500px #fcd4b8 inset;
}
 
.login form .input, .login input[type="text"], .login form input[type="checkbox"] {
    outline: none !important;
    background-color: #ffffff !important;
    font-family: "Benton Sans Cond" !important;
    letter-spacing: 1.5px;
    font-size: 12px;
    padding: 5px;
}
 
.oneall_social_login, #social_login, .forgetmenot { display: none; }
 
#wp-submit {
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    padding-left: 0px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: 150px;
}
 
.submit {
    border: none !important;
}
 
.wp-core-ui .button, .wp-core-ui .button-secondary {
    box-shadow: none !important;
}
 
.login #nav {
    font-size: 12px !important;
}
 
.login #nav a, .login #backtoblog a {
    font-size: 12px !important;
 
}
 
.login #backtoblog {
    font-size: 12px !important;
    margin-bottom: 50px !important;
}
 
 
.login .message {
    letter-spacing: normal !important;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 25px;
}